$text-color: #f0f6fc;
$bg-color: #0d1117;
$primary: #00C6B9;
$secondary: #D3FBD8;

$spacer: 10px;
$body-bg: $bg-color;
$body-color: $text-color;
$theme-colors: (
  primary: $primary,
  secondary: $secondary,
);
